body {
    background-color: pink;
    font-family: serif, Arial, Helvetica, sans-serif;
    }

h5 {
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: smaller;
}

.a {

    color: aliceblue;
}

h1 :hover {
    color: white;
}